html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  background-color: #f6f6f6;
  padding: 0;
  margin: 0; }

.nav-container {
  background-color: #f6f6f6;
  width: 100%;
  box-shadow: 0px 3px 3px #1e1e1e;
  padding: 0;
  z-index: 99;
  margin-left: 0px; }

.logo {
  width: 400px;
  display: inline-block;
  padding: 0; }
  .logo img {
    display: inline-block; }

#nav-main {
  width: 50%;
  background-color: #f6f6f6;
  display: inline-block;
  padding: 0;
  z-index: 99; }
  #nav-main .row {
    margin-left: 0; }
  #nav-main ul {
    padding: 0 5px 0 5px;
    display: inline-block;
    float: right;
    height: 100%; }
  #nav-main li {
    height: 100%;
    padding: 55px 5px 0 5px;
    display: inline-block; }
  #nav-main li:hover {
    background-color: #e8872e; }
  #nav-main a {
    color: #325666;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 1.5em; }
  #nav-main a:hover {
    text-decoration: none; }

.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0px 0px 0px;
  z-index: -5;
  transition: background 1s linear; }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; }

.content-container {
  background-color: #f6f6f6;
  overflow-y: hidden;
  width: 100%;
  padding: 0;
  z-index: 99;
  margin-left: 0px; }
  .content-container p {
    font-family: "Open+Sans", sans-serif; }

h1 h2 {
  text-align: center;
  font-family: "Poppins", serif;
  color: #325666; }

#nav-trigger {
  display: none;
  float: right;
  padding: 70px 70px 0px 0px; }

nav#nav-mobile {
  position: relative;
  display: none; }

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 0px;
  left: 100;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }

nav#nav-mobile li {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f6f6f6; }

nav#nav-mobile li:last-child {
  border-bottom: none; }

nav#nav-mobile a {
  display: block;
  color: white;
  font-size: 30px;
  color: #325666; }

nav#nav-mobile a:hover {
  background-color: #e8872e;
  color: #fff;
  text-decoration: none; }

nav#nav-mobile li:hover {
  background-color: #e8872e;
  color: #fff; }

@media all and (max-width: 1200px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } }
.footer {
  margin-top: 25px;
  height: 200px;
  background-color: #325666; }

.social-btns {
  text-align: center;
  display: inline-block;
  margin: 25px 25px 25px 25px; }
  .social-btns h2 {
    color: #678894; }
  .social-btns .btn {
    margin: 10px; }

.footer-base {
  height: 50px;
  background-color: #678894;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
